p {
  margin: 0px;
}
.App {
  max-width: 1440px;
  margin: auto;
}

body {
  overflow-x: hidden;
}
div.row {
  margin: 0px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: robotobold;
  src: url("./assets/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: roboto;
  src: url("./assets/Roboto/Roboto-Regular.ttf");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-image: url("./assets/intro-bg.png");
  width: 100%;
  height: 800px;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.headeritems {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 90px;
  height: 250px;
}

.userh1 {
  font-size: 60px;
  font-family: roboto, sans-serif;
  line-height: 85px;
}

.userh2 {
  font-size: 40px;
  font-family: roboto, sans-serif;
}

.userh3 {
  font-size: 35px;
  font-family: roboto, sans-serif;
}

.userh4 {
  font-size: 30px;
  font-weight: 400;
  font-family: roboto, sans-serif;
}

.userh5 {
  font-size: 26px;
  font-weight: 400;
  font-family: roboto, sans-serif;
}

.userh6 {
  font-size: 20px;
  font-weight: 400;
  font-family: roboto, sans-serif;
}

.userh7 {
  font-size: 18px;
  font-weight: 400;
  font-family: roboto, sans-serif;
}

.bold {
  font-family: robotobold, sans-serif;
}

.userp {
  font-size: 20px;
}

.between {
  padding-left: 20px;
}

.homes {
  text-align: center;
  padding-bottom: 150px;
}

.sector {
  width: 76px;
  height: 5px;
  background-color: rgb(48, 55, 116);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.outline {
  background-color: rgba(0, 0, 0, 0);
  border-left: solid 2px white;
  border-right: solid 2px white;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

.userbtn {
  color: white;
  padding: 10px 50px;
  margin-top: 20px;
}

.housecards {
  padding: 10px 100px;
}

.intro {
  min-height: 642px;
  /* background-image: url("./assets/intro.png"); */
  background-color: rgb(2, 48, 97);
  position: relative;
}

.agent {
  position: absolute;
  top: -80px;
  left: 120px;
  height: 722px;
}

.introcont {
  min-height: 640px;
  display: flex;
  align-items: center;
  padding-right: 180px;
}

.introtxt {
  font-size: 45px;
}

.introcont > p {
  width: 100%;
}

.introsector {
  margin: 50px 0px;
  height: 5px;
  background-color: #fff;
  width: 76px;
}

.testimonials {
  text-align: center;
  padding: 85px 140px;
}

.testcont > div {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txtest {
  max-height: 75px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.userhover:hover {
  cursor: pointer;
}

.footxt {
  font-style: italic;
  margin-top: 15px;
  font-weight: 300;
  font-family: "roboto", sans-serif;
}

.purpic {
  width: 100%;
}

.purchase-content {
  padding: 50px 80px;
  background-color: rgb(229, 234, 239);
}

.outlineblack {
  background-color: rgba(0, 0, 0, 0);
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  color: black;
}

.userdarkblue {
  background-color: rgb(2, 48, 97);
  margin-top: 30px;
  margin-bottom: 30px;
}

.purchase {
  background-color: rgb(229, 234, 239);
}

.purchase-txt {
  height: 80px;
  margin-bottom: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sell-content {
  padding: 50px 50px 50px 140px;
  background-color: rgb(229, 234, 239);
}

.contact {
  text-align: center;
  padding: 85px 140px 5px;
}

.contactbox {
  background-image: url("assets/contact-bg.png");
  height: 980px;
  width: 100%;
  background-size: cover;
}

.u_darkblue {
  color: rgb(2, 48, 97);
}

.gray {
  color: #aaa;
}

.contact-form {
  max-width: 600px;
  padding-top: 36px;
  margin: auto;
}

.bgwhite {
  background-color: #fff !important;
}

.submit-btn {
  margin: auto;
  background-color: rgb(2, 48, 97);
  color: white;
  border: none;
  height: 60px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.submit-btn:hover {
  cursor: pointer !important;
}

.carousel {
  width: 100%;
}

.fifth {
  width: 20%;
  padding: 8px;
}

.fifth > img {
  width: 100%;
}
.footer {
  min-height: 311px;
  background-color: rgb(2, 48, 97);
}

.iconbox > img {
  margin: 10px;
}

.footerlist {
  margin-top: 80px;
}

.footerlist > li {
  list-style: none;
  line-height: 27px;
}

.address {
  margin-top: 80px;
}

.address > div > p {
  float: right;
}

.address > img {
  width: 100%;
}

.footersector {
  background-color: #aaa;
  color: #aaa;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 30px;
}

.copyright {
  text-align: center;
}

.phoneitems > .row {
  max-width: 1000px;
  margin: auto;
}

.phonebox {
  text-align: center;
}

.purchase-pic {
  padding: 0px;
}

.tempshow {
  margin-right: 40px;
}

.phonebox > img {
  height: 29px;
}

.phonebox {
  padding-top: 30px;
}

.phoneitems {
  margin-top: -30px;
}

ul.footerlist {
  padding-left: 0px;
}

.address > div > .footerlist {
  margin-top: 0px !important;
  float: right;
}

.address > .footerlist > li {
  float: right;
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
  .testimonials {
    padding-left: 40px;
    padding-right: 40px;
  }
  .footerdiv {
    display: flex;
    justify-content: center;
  }

  ul > li {
    width: 100%;
  }
  .contact {
    padding-left: 30px;
    padding-right: 30px;
  }
  .introcont {
    padding-right: 40px;
  }
  .agent {
    left: 30px;
  }
  .userbtn {
    font-size: 18px;
  }
  .sell-content,
  .purchase-content {
    padding-left: 50px;
  }
  .purchase-pic {
    padding: 30px;
  }
}

@media only screen and (max-width: 1080px) {
  .address {
    margin-top: 30px;
  }
  .fifth {
    width: 33%;
  }
  .header {
    background-size: 100% 650px;
    height: 600px;
  }
  .userbtn {
    padding-left: 20px;
    padding-right: 20px;
  }
  .headeritems {
    height: 160px;
    padding-bottom: 0px;
  }

  .homes {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
  }

  .topic {
    max-height: 245px;
    overflow: hidden;
  }

  .agent {
    opacity: 0.1;
    top: 50px;
    left: 50px;
    height: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .dis5 {
    display: none;
  }
  .headeritems {
    display: block !important;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 768px) {
  div.md-form.md-outline {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .contactbox {
    height: 1200px;
  }
  .purchase-pic {
    padding: 0px;
  }
  .purchase-txt {
    height: 75px;
  }
  .show {
    display: none !important;
  }
  .tempshow {
    display: block !important;
  }
  .userh1 {
    font-size: 40px;
  }
  .userh2 {
    font-size: 35px;
  }
  .userh3 {
    font-size: 30px;
  }
  .userh4 {
    font-size: 26px;
  }
  .userh5 {
    font-size: 22px;
  }
  .userh6 {
    font-size: 18px;
  }
  .userh7 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .housecards {
    padding: 0px;
  }
  .testimonials {
    padding-left: 0px;
    padding-right: 0px;
  }
}
